a, a:hover, a:visited, a:active{
  color:white;
  display:block;
  overflow: auto;
}
#index .jumbotron{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/clock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  height: 70%;
}
#index .jumbotron .container{
  color: white;
  text-shadow: 2px 2px #000;
}
.col-md-4{
  text-align: center;
  background-color: #333;
  background-clip: content-box;
}
.col-md-4 h2{
  color: #fff;
}
#shows .col-md-4 h2{
  color:#888;
}
.notready h2, .notready a{
  color:#888;
}
