.credit{
  font-size: xx-small;
  text-align: right;
}
a, a:hover, a:visited, a:active{
  color:black;
  display:block;
  overflow: auto;
  text-decoration: none;
}
.jumbotron .container{
  color: white;
  text-shadow: 2px 2px #000;
}
.jumbotron{
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    )
}
.col-md-4{
  text-align: center;
  background-color: rgba(51,51,51,0.8);
  border: 1px;
  background-clip: content-box;
}
.col-md-4 *{
  color: #fff;
}
.notready h2, .notready a{
  color:#888;
}

.col-md-4 a:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
  background-color: #222;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.footer *{
    color: white;
    text-align: center;
    letter-spacing: 5%
}
.footer .btn-primary{
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
}
.footer .btn-primary:hover{
  background-color: #286090;
}
th,td{
  font-size: large
}
.stripe-left{
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    yellow 10px,
    yellow 20px
  );
}
.stripe-right{
    background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    yellow 10px,
    yellow 20px
  );
}