<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~campusradio/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~campusradio/index.php [L]
</IfModule>
